</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script>
  $(document).ready(function(){
    // Get the current URL path
    var currentPath = window.location.pathname;

    // Loop through each nav link
    $('.nav-link').each(function() {
      // Get the href attribute value of the nav link
      var href = $(this).attr('href');

      // Check if the current path matches the href
      if (currentPath === href) {
        // Add the 'active' class to the link
        $(this).addClass('active');
      }
    });
  });
</script>
</body>
</html>