<%- include("partials/header.ejs") %>

<div class="d-flex align-items-center flex-column my-5" style="height: 200px">
  <div class="p-2 display-5">Welcome!</div>
  <div class="p-2">
    <a href="/admin" class="btn btn-primary me-3">Admin</a>
    <a href="/users" class="btn btn-primary">Students</a>
  </div>
</div>

<%- include("partials/footer.ejs") %>
